﻿table {
    width: 100%;
    
}
table, th, td {
    border: 2px solid black;
}
table {
    border-collapse: collapse;
}
   
table button {
        padding: 2px;
    }

th, td {
    padding: 10px;
    
}
th {
    background-color: lightgreen;
}

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

#updateformdiv label, button, input 
{
        margin: 10px;
        padding: 7px;
}

    #updateformdiv label {
        font-weight: bolder;
    }

#goblinformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 2px solid black;
}
    #goblinformdiv label, button, input {
        margin: 10px;
        padding: 6px;
    }
    #goblinformdiv label {
        font-weight: bolder;
    }


